html {
	background-color: black;
	color: white;
	font-size: 30px;
}

/*
Grid de index.php
*/

.cuerpo {
	display: grid;
	grid-template-areas: "vacio1 muestra vacio2" ;

}

.cuerpo > div {
	text-align: center;
	padding: 20px 0;
}

.nombre {
	text-align: left;
}

/*
Grid para mostrar los comandos y su uso
*/

.comandos {
	display: grid;
	grid-template-areas: "campos campos" ;
}

.comandos > div {
	text-align: left;

}

#id_comando {
	font-size: 20px;
	padding: 10px 0;
}

/*
Grid para poder dar formato a los botones
*/

.botones {
	display: grid;
	grid-template-areas: "add1 menu1";
	padding: 10px 0;
}

.add2 {
	background-color: #E53C3C;
	border-radius: 3px;
	border: none;
	padding: 5px 10px;
	color: white;
	font-size: 14px;
}

.add2:hover {
	background-color: #8B0000;
}

.menu2 {
	background-color: #E53C3C;
	border-radius: 3px;
	border: none;
	padding: 5px 10px;
	color: white;
	font-size: 14px;s
}

.menu2:hover{
	background-color: #8B0000;
}





/*
Estilos de los links
*/

a {
	text-decoration: none;
}

a:link {
	color: white;
}

a:visited {
	color: inherit;
}

a:active {
	text-decoration: none;
}

a:hover {
	color: red;
}


/*
Tipos de switches en index.php
*/

.tabla {
	border: 2px white solid;
	border-radius: 10px;
	margin-right: 35%;
	margin-left: 35%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.tabla:hover {
	border: 2px red solid;
}


