html {
	background-color: black;
	color: white;
	font-size: 30px;
}

/*
Grid de index.php
*/

.cuerpo {
	display: grid;
	grid-template-areas: "vacio1 muestra vacio2" ;
}

.cuerpo > div {
	text-align: center;
	padding: 20px 0;
}

.nombre {
	text-align: left;
}

/*
Grid de add_command.php
*/

.cuerpo2 {
	display: grid;
	grid-template-areas: "vacio1 muestra vacio2" ;
}

.cuerpo2 > div {
	padding: 20px 0;
}

input[type=text] {
	width: 100%;
	padding: 20px 0; 
	margin: 10px 0;
	border: 2px white solid;
	border-radius: 10px;
	background-color: black;
	color: white;
	font-size: 20px;
}

/*
Grid para poder dar formato a los botones
*/

.botones {
	text-align: left;
}

input[type=submit] {
	background-color: black;
	border-radius: 10px;
	border: 2px white solid;
	padding: 10px 20px;
	color: white;
	font-size: 25px;
	margin-top: 10px;
	width: 30%;
}

input[type=submit]:hover {
	background-color: red;
}

/*
Grid para mostrar los comandos y su uso
*/

.comandos {
	display: grid;
	grid-template-areas: "campos campos" ;
}

.comandos > div {
	text-align: left;

}

#id_comando {
	font-size: 20px;
	padding: 10px 0;
}

/*
Links
*/

a {
	text-decoration: none;
}

a:link {
	color: white;
}

a:visited {
	color: inherit;
}

a:active {
	text-decoration: none;
}

a:hover {
	color: red;
}


/*
Tipos de switches en index.php
*/

.tabla {
	border: 2px white solid;
	border-radius: 10px;
	margin-right: 35%;
	margin-left: 35%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.tabla:hover {
	border: 2px red solid;
}

/*
Separador
*/

hr {
	height: 1px;
	background-color: white;
}